@use "../../../styles/theme/sizes.scss";
@use "../../../styles/theme/typography.scss";
@use "../../../styles/theme/colors.scss";
@use "../../../styles/theme/breakpoints.scss";

.wrapper {
  margin: 0 auto;
  padding: 19px 24px 25px 24px;

  @include breakpoints.md {
    padding: 28px 24px 34px 24px;
  }

  width: 100%;
  max-width: sizes.px(1110);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid colors.$grey-2;

  .left {
    display: flex;

    .logoLink {
      margin-right: 20px;

      @include breakpoints.md {
        margin-right: 40px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    gap: 22px;
    @include breakpoints.md {
      gap: 36px;
    }
  }
}
