@use "../../../../styles/theme/sizes.scss";
@use "../../../../styles/theme/typography.scss";
@use "../../../../styles/theme/breakpoints.scss";
@use "../../../../styles/theme/colors.scss";

.button {
  padding: 8px;
}

.cartWrapper {
  background-color: colors.$white;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;

  max-width: calc(100vw - 2 * 24px);

  @include breakpoints.md {
    max-width: sizes.px(360);
  }

  width: 100%;
  min-height: sizes.px(256);

  display: flex;
  flex-direction: column;

  transition: opacity 0.1s ease-in;
  opacity: 0;

  z-index: 9;
  margin: 0 auto;

  &.open {
    opacity: 1;
  }

  .heading {
    padding: 24px 24px 27px 24px;
    border-bottom: 1px solid colors.$grey-2;
    color: colors.$dark-1;
    @include typography.text(16, 20, 700);
  }

  .content {
    flex: 1;

    padding: 24px;
    color: colors.$grey-1;
    @include typography.text(16, 26, 700);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
