@use "../../../../styles/theme/sizes.scss";
@use "../../../../styles/theme/typography.scss";
@use "../../../../styles/theme/breakpoints.scss";
@use "../../../../styles/theme/colors.scss";

.buttonWrapper {
  position: relative;

  .badge {
    @include typography.text(10, 12, 700);
    padding: 3px 6px 0 6px;
    color: colors.$white;
    background-color: colors.$primary;

    position: absolute;
    border-radius: 6.5px;
    right: 0;
  }

  .button {
    padding: 8px;
  }
}
