@use "../../../styles/theme/typography.scss";
@use "../../../styles/theme/colors.scss";
@use "../../../styles/theme/sizes.scss";

.wrapper {
  .primaryImageWrapper {
    width: 100%;
    aspect-ratio: 1;
    position: relative;

    .primaryImage {
      border-radius: 15px;
      object-fit: cover;
    }
  }

  .thumbnailList {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .thumbnailWrapper {
      position: relative;
      width: 88px;
      height: 88px;
      object-fit: cover;

      .thumbnail {
        border: 2px solid transparent;
        border-radius: 10px;

        &.selected {
          border-color: colors.$primary;
        }
      }
    }
  }
}
