@use "../../../styles/theme/typography.scss";
@use "../../../styles/theme/colors.scss";
@use "../../../styles/theme/sizes.scss";
@use "../../../styles/theme/breakpoints.scss";

.infoWrapper {
  flex: 1;
  padding: 0 24px;

  @include breakpoints.lg {
    max-width: sizes.px(445);
    padding: 0;
  }

  .company {
    @include typography.text(12, 15, 700);

    @include breakpoints.lg {
      @include typography.text(13, 16, 700);
    }

    letter-spacing: 2px;
    text-transform: uppercase;
    color: colors.$primary;
  }

  .name {
    @include typography.text(28, 32, 700);
    margin-top: 19px;

    @include breakpoints.lg {
      @include typography.text(44, 48, 700);
      margin-top: 27px;
    }

    color: colors.$dark-1;
  }

  .description {
    color: colors.$grey-1;

    @include typography.text(15, 25, 400);
    margin-top: 15px;

    @include breakpoints.lg {
      @include typography.text(16, 26, 400);
      margin-top: 32px;
    }
  }

  .priceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
    @include breakpoints.lg {
      margin-top: 28px;
      flex-direction: column;
      align-items: flex-start;
    }

    .currentPriceWrapper {
      display: flex;

      .currentPrice {
        @include typography.text(28, 35, 700);
        @include breakpoints.lg {
          @include typography.text(28, 26, 700);
        }

        color: colors.$dark-1;

        margin-right: 16px;
      }

      .discountPercent {
        border-radius: 6px;
        padding: 7px 8px 4px 8px;

        background-color: colors.$primary-light;
        color: colors.$primary;

        @include typography.text(16, 20, 700);
      }
    }

    .originalPrice {
      @include breakpoints.lg {
        margin-top: 10px;
      }

      text-decoration: line-through;

      color: colors.$grey-3;

      @include typography.text(16, 26, 700);
    }
  }

  .purchaseWrapper {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoints.sm {
      flex-direction: row;
    }

    .quantityInput {
      flex-shrink: 0;
      width: auto;
    }

    .addToCartButton {
      width: auto;
      flex-shrink: 0;
      flex-grow: 1;
    }
  }
}
