@use "../../styles/theme/typography.scss";
@use "../../styles/theme/breakpoints.scss";
@use "../../styles/theme/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  @include breakpoints.lg {
    flex-direction: row;
  }
}
