@use "./sizes.scss";
@use "./colors.scss";
@use "./breakpoints.scss";

$kumbh-sans-font: var(--kumbh-sans-font);

@mixin text($fontSizePx, $lineHeightPx, $fontWeight) {
  font-weight: $fontWeight;
  font-size: sizes.px($fontSizePx);
  line-height: sizes.px($lineHeightPx);
}
